@import url('https://fonts.googleapis.com/css?family=Red+Hat+Mono');

:root {
  --blue-black: #242d30;
  --white: #fabc6f;
  --brand-gray: #354951;
  --blue-gray: #b1bfc6;

  --steel: #414c51;
  --steel-dark: #3c4d4e;

  --transition: .1s ease-in-out;
}

html,
body {
  background: linear-gradient(20deg, #343f44, #1b1f23);
  margin: 0;
}

/* Nav */

nav {
  width: calc(100vw - 4rem);
  padding: 2rem 2rem 2rem 2rem;
}

/* Breadcrumb */
.breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
}

.breadcrumb__link,
.breadcrumb__link__delimeter {
  color: var(--white);
  font-family: 'Red Hat Mono';
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  text-shadow: 0 0 1px var(--white);
}

.breadcrumb__link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: .875rem;
  transition: var(--transition);
}

.breadcrumb__link:hover {
  text-shadow: 0 0 4px var(--white);
}

.breadcrumb__link__delimeter {
  cursor: default;
  font-size: .875rem;
  margin: 0 .25rem 0 .375rem;
}

/* Content */

.content {
  height: calc(100vh - 8rem);
  padding: 4rem 2rem 4rem 0;
  width: calc(85vw - 2rem);
}

/* Widget */
.widget {
  background: rgba(43, 59, 66, 0.75);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.025) 0px 4px 12px;
  width: 500px;
  height: 350px;
}